@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');


:root {
    --essential-cream: #DCB66F;
    --cream: #FDFBD4; 
    --dark-brown-coffe: #2A1F1B;
}


@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateX(-20px); 
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
}


header {
    padding: 10px 5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    backdrop-filter: blur(20px);
    background-color: rgba(32, 33, 26, 0.9);
    z-index: 1000;
}

.header-nav {
    max-width: 1600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav > .logo {
    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;
}

.logo > h1 {
    color: var(--cream);
    font-size: 1.5rem;
}

.logo > img {
    height: 50px;
    width: 50px;
}

.header-nav > .nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-links > li {
    list-style: none;
}

.nav-links > li > a {
    text-decoration: none;
    color: var(--cream);
    font-weight: 500;
    transition: 0.3s;
}

.nav-links > li > a:hover {
    color: var(--essential-cream);
}

.header-button {
    display: flex;
    align-items: center;
}

.header-button > button {
    color: var(--dark-brown-coffe);
    background-color: var(--essential-cream);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
    transition: 0.3s;
}

.header-button > button:hover {
    transform: translateY(-2px);
}

.header-nav > .header-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
}


.home-container {
    height: 100vh;
    display: flex;
    align-items: center;

    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.85) 0%,
        rgba(0, 0, 0, 0.6) 30%,
        rgba(0, 0, 0, 0.3) 45%,
        rgba(0, 0, 0, 0) 60%
    ),
    url('../images/Home-Sect-Bg.png');
    background-position: center;
    background-size: cover;
}

.home-main-content {
    width: 100%;
    max-width: 1600px;
    margin: auto;
    
    padding: 0 5rem;

    display: flex;
    align-items: center;
}

.home-contents {
    max-width: 1000px;
}


.Home-texts > h1 {
    font-size: clamp(5rem, 3.909rem + 5.45vw, 8rem);
    line-height: 1.1;
    color: var(--cream);

    animation: fadeRight 0.9s ease-out forwards;

    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
    
}

.Home-texts > h1 > span {
    display: block;
    color: var(--essential-cream);

    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.Home-texts > p {
    margin-top: 12px;
    color: var(--cream);
    opacity: 0.85;
    line-height: 1.6;

    animation: fadeRight 0.9s ease-out forwards;
}


.Home-buttons {
    display: flex;
    gap: 12px;
    margin-top: 25px;

    animation: fadeRight 0.9s ease-out forwards;
}

.Home-buttons > a {
    padding: 12px 18px;
    font-size: 0.9rem;
}

.ordernow-btn {
    text-decoration: none;
    color: var(--dark-brown-coffe);
    background-color: var(--essential-cream);
    border-radius: 6px;
    font-weight: 700;
    box-shadow: 0 5px var(--cream);
    transition: 0.2s;
}

.ordernow-btn:hover {
    transform: translateY(2px);
    box-shadow: 0 2px var(--cream);
}
.ordernow-btn:active {
    opacity: 0.7;
}

.viewmore-btn {
    text-decoration: none;
    color: var(--essential-cream);
    background-color: var(--dark-brown-coffe);
    border-radius: 6px;
    font-weight: 700;
    border: 2px solid var(--essential-cream);
    transition: 0.3s;
}

.viewmore-btn:hover {
    transform: translateY(-2px);
    box-shadow: #fdfbd459 0px 5px 15px;
}
.viewmore-btn:active {
    opacity: 0.7;
}








.featured-container {
    background-color: var(--essential-cream);
    padding: 4rem 3rem;
    padding-top: 80px;
}

.featured-container > .featured-header {
    text-align: center;
}

.featured-header > h1 {
    font-family: "JetBrains Mono", monospace;
    font-weight: 900;
    font-size: 5rem;
    color: var(--dark-brown-coffe);
}

.featured-header > p {
    color: var(--dark-brown-coffe);
    margin-top: 10px;
    font-size: 1rem;
}

.featured-container > .featured-main-content {
    max-width: 1400px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

    padding: 3rem 2rem;
    align-items: stretch;
}

.featured-main-content > .featured-card {
    width: 100%;
    max-width: 360px;
    margin: auto;

    display: flex;
    flex-direction: column;
    height: 100%;

    border-radius: 12px;

    animation: fade-in linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;

    transition: all ease 0.3s;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.featured-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 14px 36px rgba(7,30,44,0.13);
}

@keyframes fade-in {
    from { 
        opacity: 0; 
        transform: translateY(20px); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0); 
    }
}

.featured-card > .item-box {
    width: 100%;
    height: 230px;
    overflow: hidden;
}

.item-box > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.featured-card > .item-descript {
    background-color: var(--dark-brown-coffe);
    padding: 1.3rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;

    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
    transition: all ease 0.3s;
}

.featured-card:hover .item-descript {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
                rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.item-descript > h1 {
    font-size: 1.9rem;
    font-weight: 700;
    color: var(--cream);
    line-height: 1.2;
}

.item-descript > p {
    color: #fdfbd4c3;
    margin-top: 12px;
    font-size: 0.9rem;
    line-height: 1.6;

    min-height: 95px;
}

.item-descript > .item-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.item-price > p {
    color: var(--essential-cream);
    font-size: 1.1rem;
    font-weight: 600;
}

.item-price > a {
    padding: 10px 16px;
    text-decoration: none;
    background-color: var(--cream);
    color: var(--dark-brown-coffe);
    border-radius: 5px;

    box-shadow: 0 5px var(--essential-cream);
    transition: all ease 0.3s;
}

.item-price > a:hover {
    transform: translateY(2px);
    box-shadow: 0 2px var(--cream);
}

.featured-container > .featured-view-button {
    justify-content: center;
    display: flex;
    align-items: center;
}

.featured-view-button > a {
    display: flex;
    align-items: center;
    gap: 5px;

    text-decoration: none;
    background-color: var(--dark-brown-coffe);
    color: var(--cream);
    padding: 12px 18px;
    border-radius: 5px;

    transition: all ease 0.3s;
}

.featured-view-button > a:hover {
    transform: translateY(2px);
    box-shadow: 0 2px var(--cream);
}








.about-container {
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.85) 0%,
        rgba(0, 0, 0, 0.6) 30%,
        rgba(0, 0, 0, 0.3) 45%,
        rgba(0, 0, 0, 0) 60%
    ),
    url('../images/about-us-images/AboutUs_BlurBG.png');
    background-position: center;
    background-size: cover;
}


.about-container > .about-main-content {
    max-width: 1600px;
    margin: auto;

    padding: 5rem;
}

.about-main-content > .about-header {
    text-align: center;
    margin-bottom: 2rem;
}

.about-header > h1 {
    color: var(--essential-cream);
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    font-weight: 900;
    font-size: 5rem;

    animation: fade-in linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%; 
}

.about-main-content > .about-contents {
    border-radius: 10px 10px 0 0 ;

    display: grid;
    grid-template-columns: 0.7fr 1fr;
    background-color: var(--dark-brown-coffe);
    padding: 2rem;

    animation: fade-in linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%; 

    border-bottom: 1px solid var(--essential-cream);
}

.about-contents .about-left {
    padding: 2rem;
    display: flex;
    align-items: center;
}

.about-contents > .about-left > img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about-contents > .about-right {
    padding: 2rem;
}


.about-text-header > h1 {
    color: var(--cream);
    font-weight: 600;
}

.about-text-header > h1 > span {
    display: block;
}


.about-right > .about-texts {
    margin-top: 10px;
    color: #fdfbd49f;
}

.about-texts > p {
    margin-bottom: 10px;
}

.about-right > .about-statics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.about-statics > .about-card-stat {
    margin-top: 1rem;
}

.about-card-stat > .about-card-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about-card-text > p {
    font-size: 1.50rem;
    color: var(--essential-cream);
}
.about-card-text > i {
    font-size: 1.60rem;
}

.about-card-stat > h3 {
    font-weight: 400;
    color: var(--cream);
    font-size: 0.90rem;
}

.about-right > .about-us-button {
    margin-top: 2rem;
}

.about-us-button > a {
    text-decoration: none;

    padding: 10px;
    color: var(--dark-brown-coffe);
    background-color: var(--essential-cream);
    border-radius: 10px;
    transition: all ease 0.2s;
}

.about-us-button > a:hover{
    background-color: #ddb160;
}


.about-main-content > .whychooseus-main-content {
    background-color: var(--dark-brown-coffe);
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.whychooseus-main-content > .whychooseus-header > h1  {
    color: var(--cream);
    animation: fade-in linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%; 
}

.whychooseus-main-content > .whychoose-contents {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    padding: 10px;
    gap: 10px;
}

.whychoose-contents > .whychoose-left > P {
    color: #fdfbd49f;
}

.whychoose-contents > .whychoose-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.whychoose-contents > .whychoose-right > img {
    max-width: 300px;
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    background-color: var(--cream);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.whychoose-contents > .whychoose-left {
    margin-top: 2rem;
}

.whychoose-left > .whychoose-icons {
    display: flex;
    align-items: center;
    gap: 2rem;

    padding: 1rem;
    margin-top: 2rem;
    justify-content: center;

    max-width: 1200px;
    margin: auto;
}

.whychoose-icons > i { 
    color: var(--dark-brown-coffe);

    font-size: 2rem;

    padding: 1rem;

    background-color: var(--essential-cream);
    border-radius: 10px;
}











.contact-container {
    background-color: var(--essential-cream);
}

.contact-container > .contact-main-content > .contact-header {
    text-align: center;
}

.contact-header > h1 {
    font-size: 5rem;
    color: var(--dark-brown-coffe);

    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.contact-container > .contact-main-content {
    max-width: 1600px;
    margin: auto;

    padding: 5rem;
}

.contact-main-content > .contact-contents {
    background-color: var(--dark-brown-coffe);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    border-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    margin-top: 1rem;

}

.contact-contents > .contact-left {
    padding: 10px;
    max-width: 1600px;
    margin: auto;
}

.contact-left > .contact-info {
    padding: 10px;
}

.contact-info > .contact-info-header {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-info-header > img {
    height: 50px;
    width: 50px;
}

.contact-info-header > h1 {
    color: var(--essential-cream);
    font-size: 2.50rem;
}

.contact-info > p {
    color: #fdfbd4d0;
}

.contact-info > p > span {
    color: var(--essential-cream);
    margin-left: 10px;
}


.contact-left > .contact-inputs {
    padding: 10px;
    margin-top: 10px;
}

.contact-inputs > form > input {
    padding: 1rem 0.75rem;
    width: 100%;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;

    background-color: var(--cream);
    color: var(--dark-brown-coffe);
}

.contact-inputs > form > input::placeholder {
    color: #2a1f1bdb;
    font-weight: 700;
}

.contact-inputs > form > textarea {
    padding: 1rem 0.75rem;
    width: 100%;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;

    background-color: var(--cream);
    color: var(--dark-brown-coffe);
}

.contact-inputs > form > textarea::placeholder {
    color: #2a1f1bdb;
    font-weight: 700;
}

.contact-inputs > form > button {
    padding: 1rem 0.75rem;

    width: 100%;

    background-color: var(--essential-cream);
    border: none;
    color: var(--dark-brown-coffe);
    font-weight: 700;

    box-shadow: 0 5px var(--cream);
    border-radius: 7px;

    cursor: pointer;

    transition: all ease 0.3s;
}

.contact-inputs > form > button:hover {
    transform: translateY(2px);
    box-shadow: 0 2px var(--cream);
}

.contact-inputs > form > button:active {
    opacity: 0.7;
}

.contact-right {
    display: flex;
    align-items: center;

    justify-content: center;
}

.contact-main-content > .contact-contents > .contact-right > img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;

    border-radius: 10px;
}







footer {
    padding: 2rem;
    background-color: var(--dark-brown-coffe);
}

footer > .footer-main-content {
    max-width: 1600px;
    margin: auto;
}

.footer-main-content > .footer-contents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    padding: 2rem;
    border-bottom: 1px solid var(--cream);
}

.footer-contents > .footer-logo > .footer-logo-items{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo-items > img {
    height: 50px;
    width: 50px;
}

.footer-logo-items > h1 {
    font-size: 1.50rem;
    color: var(--essential-cream);
}

.footer-logo > .footer-logo-text {
    color: var(--cream);
}



.footer-header {
    color: var(--essential-cream);
}

.footer-header > h1 {
    font-size: 1.50rem;
}

.footer-contents > .footer-contact-info > .footer-contact-text {
    margin-top: 10px;
}

.footer-contents > .footer-contact-info > .footer-contact-text > .footer-contact-card {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-top: 10px;
}

.footer-contact-card > p {
    color: #fdfbd4a2;
    cursor: pointer;

    transition: all ease 0.3s;
}

.footer-contact-card > p:hover {
    color: var(--essential-cream);
}



.footer-contents > .footer-quicklinks > .footer-nav-links > li {
    list-style: none;
}

.footer-nav-links > li > a{
    text-decoration: none;
    color: var(--cream);

    transition: all ease 0.3s;
}

.footer-nav-links > li > a:hover{
    color: var(--essential-cream);
}


.footer-contents > .footer-social > p {
    color: var(--cream);
}

.footer-social > .footer-social-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
}

.footer-social-icons > a {
    text-decoration: none;
}

.footer-social-icons > a > i {
    font-size: 1.50rem;
    transition: all ease 0.3s;
    color: #fdfbd47e;
}
.footer-social-icons > a > i:hover {
    font-size: 1.50rem;
    color: #ddb160;
}


.footer-main-content > .footer-c {
    text-align: center;
    margin-top: 1rem;
}

.footer-c > p {
    color: var(--cream);
}

.footer-c > p > span {
    color: var(--essential-cream);
}















@media only screen and (max-width: 1500px) {

    .Home-texts > h1 {
        font-size: 5.5rem;
        line-height: 1.1;
    }

    .Home-texts > p {
        font-size: 0.9rem;
        line-height: 1.6;
        max-width: 600px;
    }

    .featured-container > .featured-main-content {
        padding: 3rem 2rem;
    }
}



@media only screen and (max-width: 1440px) {
    .about-right > .about-text-header > h1 {
        font-size: 1.70rem;
    }
    .about-right > .about-texts > p {
        font-size: 0.90rem;
    }
}

@media only screen and (max-width: 1270px) {
    .about-right > .about-text-header > h1 > span {
        font-size: 1.40rem;
        display: inline;
    }
    .about-right > .about-texts > p {
        font-size: 0.90rem;
    }
}

@media only screen and (max-width: 1200px) {

    .featured-container > .featured-main-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .about-main-content > .about-contents {
        display: grid;
        grid-template-columns: 1fr;
        background-color: var(--dark-brown-coffe);
        padding: 2rem;
    }

    .about-contents > .about-left {
        justify-content: center; 
        align-items: center;     
    }

    .about-contents > .about-left > img {
        width: 100%;
        max-width: 500px;
        height: auto;
        border-radius: 10px;
    }   

    .about-statics > .about-card-stat {
        text-align: center;
    }

    .about-card-stat > .about-card-text {
        justify-content: center;
    }

    .about-right > .about-us-button {
        text-align: center;
    }

    .about-right > .about-text-header > h1 {
        font-size: 1.90rem;
    }

    .about-right > .about-texts > p {
        font-size: 0.90rem;
    }
} 


@media only screen and (max-width: 1100px) {
    .Home-texts h1 {
        font-size: 5.50rem;
        line-height: 1.1;
        color: #FDFBD4;
    }
}

@media only screen and (max-width: 1000px) {
    .nav-links a {
        font-size: 0.80rem;
    }

    .featured-header > h1,
    .about-header > h1,
    .contact-header > h1 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 900px) {
    .home-main-content {
        display: flex;
        justify-content: center;
        align-items: center;     
        text-align: center;
    }

    .home-contents {
        max-width: 700px;
    }

    .Home-buttons {
        display: flex;
        justify-content: center; 
        gap: 12px;
        margin-top: 25px;
    }

    header {
        padding: 10px 2rem;
    }

    .header-nav {
        max-width: 1600px;
        margin: auto;
    }
}


@media only screen and (max-width: 850px) {

    .featured-container > .featured-main-content {
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 2rem 0;
    }

    .featured-main-content > .featured-card {
        max-width: 380px;
        width: 100%;
    }

    .featured-card > .item-box {
        height: 250px;
        background-color: #c79f56;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }

    .item-box > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .item-descript > h1 {
        font-size: 1.5rem;
    }

    .item-descript > p {
        font-size: 0.9rem;
        line-height: 1.5;
        min-height: auto;
    }

    .item-price > p {
        font-size: 1rem;
    }

    .item-price > a {
        padding: 10px 14px;
        font-size: 0.95rem;
    }

    .about-container > .about-main-content {
        padding: 2rem;
    }

    .whychooseus-main-content > .whychoose-contents {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .whychoose-contents > .whychoose-right {
        justify-content: center; 
        align-items: center;   
    }

    .contact-container > .contact-main-content {
        padding: 2rem;
    }

    .contact-main-content > .contact-contents {
        grid-template-columns: 1fr;
    }

    .contact-contents > .contact-left {
        order: 2;
    }

    .contact-contents > .contact-right {
        justify-content: center; 
        align-items: center;  
    }

    .contact-main-content > .contact-contents > .contact-right > img {
        width: 100%;
        max-width: 300px;
        height: auto;
        display: block;
        border-radius: 10px;
    }

    .footer-main-content > .footer-contents {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

@media only screen and (max-width: 750px) {

    .nav-links {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        background: rgba(42, 31, 27, 0.977);
        backdrop-filter: blur(5px);

        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;

        gap: 30px;

        transform: translateY(-100%);
        transition: transform 0.4s ease;

        pointer-events: none;
    }

    .nav-links.active {
        transform: translateY(0);
        pointer-events: auto;
    }

    .nav-links a {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .header-button {
        display: none;
    }

    .header-nav > .header-menu {
        display: block;
        z-index: 1001; 
    }
}

@media only screen and (max-width: 740px) {
    .about-right > .about-text-header > h1 {
        font-size: 1.40rem;
    }

    .about-right > .about-texts > p {
        font-size: 0.70rem;
    }

    .about-card-text > p,
    .about-card-text > i {
        font-size: 1rem;
    }

    .about-card-stat > h3 {
        font-size: 0.90rem;
    }

    .whychoose-left > p {
        font-size: 0.80rem;
    }
}

@media only screen and (max-width: 540px) {

    .about-main-content > .about-contents {
        padding: 1rem;
    }

    .about-contents > .about-right {
        padding: 0rem;
    }

    .about-container > .about-main-content {
        padding: 1rem;
    }

    .featured-container {
        padding: 2rem 1rem;
    }

    .home-main-content {
        padding: 0 2rem;
    }

    .Home-texts > h1 {
        font-size: 3rem;
    }

    .Home-texts p {
        font-size: 0.80rem;
    }

    .Home-buttons a {
        padding: 10px;
        font-size: 0.90rem;
    }

    .footer-main-content > .footer-contents {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .contact-container {
        padding: 1rem;
    }

    .contact-main-content > .contact-contents {
        padding: 1rem;
    }
}

@media only screen and (max-width: 450px) {
    .contact-info-header > img {
        display: none;
    }
    
    .contact-info-header > h1 {
        font-size: 2rem;
    }

    .contact-info > p {
        font-size: 0.80rem;
    }

    .contact-left > .contact-info {
        padding: 10px;
        text-align: left;
    }
}

@media only screen and (max-width: 400px) {

    .featured-header > h1,
    .about-header > h1,
    .contact-header > h1 {
        font-size: 2rem;
    }

    .featured-main-content > .featured-card {
        max-width: 100%;
    }

    .featured-card > .item-box {
        height: 220px;
    }

    .item-descript {
        padding: 1rem;
    }

    .item-descript > h1 {
        font-size: 1.1rem;
    }

    .item-descript > p {
        font-size: 0.75rem;
        display: block;
    }

    .item-price > p {
        font-size: 0.85rem;
    }

    .item-price > a {
        padding: 8px 12px;
        font-size: 0.75rem;
    }

    .logo h1 {
        font-size: 1rem;
    }

    header {
        padding: 10px 10px;
    }

    .whychoose-left > .whychoose-icons {
        gap: 1rem;
    }

    .whychoose-icons > i { 
        font-size: 1rem;
    }
}

@media only screen and (max-width: 345px) {
    .Home-buttons a {
        padding: 10px;
        font-size: 0.70rem;
    }
}

@media only screen and (max-width: 320px) {
    .Home-texts > h1 {
        font-size: 2.20rem;
    }

    .Home-texts p {
        font-size: 0.70rem;
    }

    .contact-inputs > form > input,
    .contact-inputs > form > textarea,
    .contact-inputs > form > button {
        font-size: 0.70rem;
    }

    .contact-inputs > form > button {
        padding: 0.80rem 0.75rem;
    }
}
