@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    overflow: hidden;
    background-color: #DCB66F;
}

.main-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
}

.main-container > .side-bar {
    width: 280px;
    height: 100vh;

    background-color: #2A1F1B;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;


} 

.side-bar > .sidebar-header {
    padding: 2rem;
    border-bottom: 2px solid #DCB66F;
    text-align: center;
}
.sidebar-header > h1 {
    color: #DCB66F;
    font-size: 2rem;
}


.side-bar > .sidebar-nav-links {
    margin-top: 1rem;
}

.sidebar-nav-links > button {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;

    margin-top: 1rem;
    padding: 10px 2rem;

    color: #FDFBD4;
    text-align: center;

    transition: all ease 0.2s;

    background-color: transparent;
    border: none;

    width: 100%;
}

.sidebar-nav-links > button > h1 {
    font-size: 1.20rem;
}

.sidebar-nav-links > button > i  {
    font-size: 1.20rem;
    color: #cca55b;
}

.sidebar-nav-links > .selected {
    background-color: #DCB66F;
    color: #2A1F1B;
}

.sidebar-nav-links > button:hover {
    background-color: #DCB66F;
    color: #2A1F1B;
}


.side-bar > .cart-button {
    padding: 1rem;
    margin-top: 1rem;

    border-top: 1px solid #DCB66F;
}

.cart-button > a {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    font-size: 1.50rem;
    text-decoration: none;

    background-color: #FDFBD4;
    border-radius: 5px;
}

.cart-button > a > span {
    color: #2A1F1B;
    font-weight: 700;
}

.cart-button > a > i {
    color: #2A1F1B;
}


.cart-button > .cart_counter {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.cart_counter > h2 {
    color: #FDFBD4;
}

.cart_counter > h3 {
    color: #DCB66F;
}



.left-contents > .header {
    background-image: url(../images/Home-Sect-Bg.png);
    background-position: center;
    background-size: cover;
}

.header > .header-text {
    backdrop-filter: blur(5px);
    background-color: #2a1f1b99;

    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text > .header-menu {
    display: none;
}

.header-menu > i {
    font-size: 1.30rem;
}

.header-text > a {
    text-decoration: none;
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-text > a > img {
    width: 50px;
    height: 50px;
}

.header-text > a > h1 {
    color: #DCB66F;
}


.left-contents > .left-menu-contents {
    height: calc(100vh - 120px); 
    overflow-y: auto; 
    padding: 2rem;
    scrollbar-color: #DCB66F #2A1F1B;
}



.left-menu-contents > .menu-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    max-width: 1500px;
    margin: auto;

    gap: 1rem;
}


.menu-items > .menu-cards {
    background-color: #FDFBD4;
    border: 1px solid #2A1F1B;
    max-width: 1500px;
    width: 85%;
    margin: auto;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;

    transition: all ease 0.3s;
    border-radius: 10px;

    animation-name: fadeRight;
    animation-duration: 0.8s;

    height: 100%;

    display: flex;              
    flex-direction: column;  

    justify-items: center;
}


@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateX(-20px); 
        z-index: -1;
    }
    to {
        opacity: 1;
        transform: translateX(0);
        z-index: -1;
    }
}


.menu-items > .menu-cards > img {
    max-width: 250px;
    width: 100%;
    object-fit: contain;

    display: block;
    margin: 0 auto 1rem;

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}


.menu-cards > .menu-item-info {
    padding: 1rem;
    background-color: #2A1F1B;
    border-radius: 5px;
    border-top-left-radius: 20px;

    display: flex;
    flex-direction: column;

    height: 100%;            

    width: 100%;
    max-width: 400px;
}

.menu-item-info:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}












.menu-cards > .click_image_info {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        background: rgba(42, 31, 27, 0.977);
        backdrop-filter: blur(5px);

        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;

        gap: 30px;

        display: none;
        transition: all ease 0.2;

        pointer-events: none;
}

.menu-cards > .click_image_info.active {
        transform: translateY(0);
        pointer-events: auto;
        display: block;
}

.click_image_info > .info-container {
    padding: 1rem;
    max-width: 1200px;
    margin: auto;
}

.info-container > .info-contents-c{
    width: 90%;
    max-width: 700px;
    margin: 50px auto; 
    padding: 30px;
    border-radius: 10px;

    background-color: #FDFBD4;

    height: 100vh;
    overflow-y: auto;
}

.info-container > .info-contents-c > i {
    background-color: #DCB66F;
    padding: 10px;
    border-radius: 5px;
    color: #2A1F1B;
    font-weight: 800;


    box-shadow: 0 5px #2A1F1B;

    transition: all ease 0.2s;

    margin-bottom: 1rem;
}

.info-container > .info-contents-c > i:hover {
    background-color: #cca55b;
    transform: translateY(2px);
    box-shadow: 0 2px #2A1F1B;
}

.info-container > .info-contents-c > i:active {
    opacity: 0.7;
}

.click_image_info > .info-container > .info-contents-c > img {
    max-width: 200px;
    width: 100%;
    object-fit: contain;

    display: block;
    margin: 0 auto 1rem;

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.info-container > .info-contents-c > .info-header{
    text-align: center;
    margin-bottom: 1.20rem;
}

.info-header > h3 {
    font-size: 2rem;

    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    font-weight: 800;
    color: #2A1F1B;
}

.info-contents-c > .info-texts { 
    background-color: #dcb66f6a;
    padding: 1rem;
    border-radius: 5px;
}

.info-contents-c > .info-specs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    margin-top: 1rem;

    text-align: center;
}

.info-specs > .item-ingredients > .ingredients-header > h3 {
    color: #2A1F1B;
    text-decoration: underline;
}

.info-specs > .item-ingredients > p {
    color: #2a1f1bb8;
    font-weight: 500;
}


.info-specs > .item-kcal > .kcal-header > h3 {
    color: #2A1F1B;
    text-decoration: underline;
}










.menu-item-info > .menu-item-title{
    color: #FDFBD4;

    margin-bottom: 1rem;
    cursor: pointer;
    text-align: center;

    border-bottom: 1px solid #FDFBD4;
    padding: 1rem 0rem;

}

.menu-item-info > .menu-item-title > h2 {
    color: #FDFBD4;
}

.menu-item-info > p {
    color: #dcb66f96;
    font-size: 0.90rem;

    flex-grow: 1;            
}

.menu-item-info > .menu-item-buy {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: center;
}

.menu-item-info > .menu-item-price {
    margin-top: auto;          

    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-item-info > .menu-item-price > i {
    padding: 10px;
    background-color: #504440ee;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all ease 0.2s;

    color: #FDFBD4;
}

.menu-item-info > .menu-item-price > i:hover {
    color: rgb(255, 226, 172);
    transform: translateY(-2px);
}

.menu-item-info > .menu-item-price > i:active {
    opacity: 0.7;
}

.menu-item-info > .menu-item-price > .price {
    color: #DCB66F;
    font-weight: 800;

    font-size: 1.20rem;
}

.menu-item-buy > button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #DCB66F;
    background-color: #DCB66F;
    color: #2A1F1B;
    font-weight: 700;
    transition: all ease 0.3s;
}

.menu-item-buy > button:hover {
    transform: translateY(-2px);
}




@media only screen and (max-width: 1500px) {
    .menu-cards > .menu-item-info > .menu-item-title > h2 {
        font-size: 1.10rem;    
    }

    .menu-cards > .menu-item-info > .menu-item-title > i {
        font-size: 0.70rem;    
    }

    .menu-item-info > p {
        font-size: 0.70rem;
    }

    .menu-item-buy > p {
        color: #DCB66F;
        font-weight: 800;
        font-size: 0.90rem;
    }

    .menu-item-buy > button {
        padding: 5px;
    }

    .menu-item-buy > button > span {
        font-size: 0.80rem;
    }
}


@media only screen and (max-width: 1000px) {
    .left-menu-contents > .menu-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .menu-item-info > .menu-item-buy {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .main-container > .side-bar {
        width: 160px;
        height: 100vh;

        background-color: #2A1F1B;

        position: sticky;
        top: 0;
        left: 0;
        right: 0;
    } 

    .main-container > .side-bar > .sidebar-nav-links > button {
        display: block;
    }

    
    .sidebar-nav-links > button > h1 {
        font-size: 1rem;
    }

    .sidebar-header > h1 {
        color: #DCB66F;
        font-size: 1.20rem;
    }
}

@media only screen and (max-width: 800px){
    .left-menu-contents > .menu-items {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 660px) {
    .main-container {
        grid-template-columns: 1fr;
    }

    .main-container > .side-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        background: rgba(42, 31, 27, 0.977);
        backdrop-filter: blur(5px);

        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;

        gap: 30px;

        transform: translateY(-100%);
        transition: transform 0.4s ease;

        pointer-events: none;
    }
    .main-container .side-bar.active {
        transform: translateY(0);
        pointer-events: auto;
    }

    .main-container .side-bar.active > .sidebar-header {
        padding: 0rem;
        border-bottom: 2px solid #DCB66F;
        text-align: center;
    }

    .main-container .side-bar.active > .side-bar > .sidebar-nav-links {
        margin-top: 0rem;
    }

    .header > .header-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
    }
    .header-text > .header-menu {
        display: block;
    }

    .header-text > a > h1 {
        font-size: 1.20rem;
    }

    .menu-cards > .menu-item-info > .menu-item-title > h2 {
        font-size: 1.30rem;    
    }

    .menu-cards > .menu-item-info > .menu-item-title > i {
        font-size: 0.70rem;
    }

    .sidebar-header > h1 {
        color: #DCB66F;
        font-size: 2rem;
    }

}

@media only screen and (max-width: 450px)  {
    .left-contents > .left-menu-contents {
        height: calc(100vh - 120px); 
        overflow-y: auto; 
        padding: 2rem 0rem;
        scrollbar-color: #DCB66F #2A1F1B;
    }
}

@media only screen and (max-width: 400px)  {
    .info-contents-c > .info-specs {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

@media only screen and (max-width: 300px) {
    .header-text > a > h1 {
        font-size: 1rem;
    }

    .header > .header-text {
        padding: 1rem;
    }


}